* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f0f0f;
  overflow: hidden;
  font-family: sans-serif;
}

/* CAMERA SECTION */
#cameraBox {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40vh;
  background: black;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 3D SCENE */
#scene {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60vh;
}
