body {
  margin: 0;
  background: #111;
  overflow: hidden;
  font-family: sans-serif;
}

#scene {
  width: 100vw;
  height: 100vh;
}

#controls {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

select {
  padding: 6px;
  font-size: 14px;
}

#camBox {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 240px;
  height: 180px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
}

#video,
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

#overlay {
  pointer-events: none;
}
