body {
  margin: 0;
  background: #111;
  overflow: hidden;
  font-family: sans-serif;
}

#scene {
  width: 100vw;
  height: 100vh;
}

#cubeSize {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 6px;
}
